<h1>Transaction Details</h1>

<table>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><%= @transaction.name %></td>
    </tr>
    <tr>
      <th>Amount:</th>
      <td><%= number_to_currency(@transaction.amount) %></td>
    </tr>
    <tr>
      <th>Category:</th>
      <td><%= @transaction.category.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back to Transactions', transactions_path %>
